# Данный файл содержит в себе информацию, необходимую, для развертывания БД task_planner
# при помощи скриптов.
#---------------------------------------------------------------------------------------------------

# Пользователь для подключения к базе данных, от имени которого создаются пользователи приложения и БД.
# Необходимо, что бы у него были соответствующие права.

pg_user=postgres

# Указывает имя компьютера, на котором работает сервер.

pg_host=127.0.0.1

# Указывает TCP-порт или расширение файла локального Unix-сокета,
# через который сервер принимает подключения.

pg_port=5432
